@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoneyTrack</title>    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />    
    <link rel="stylesheet" href="~/css/global.css" />
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MoneyTrack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if(Context.Session.GetInt32("IdContato") == null)
                {
                    <li class="nav-item" style="display: none;">
                        <a class="nav-link" asp-area="" asp-controller="Cadastro" asp-action="Login">Login</a>
                    </li>
                }
                @if(Context.Session.GetInt32("IdContato") != null) 
                {                    
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="contatoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Contato
    </a>
    <div class="dropdown-menu" aria-labelledby="contatoDropdown">
        <a class="dropdown-item" asp-area="" asp-controller="Cadastro" asp-action="Contato">Cadastro</a>
        <a class="dropdown-item" asp-area="" asp-controller="Cadastro" asp-action="Lista">Lista de Contatos</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="financasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Finanças
    </a>
    <div class="dropdown-menu" aria-labelledby="financasDropdown">
        <a class="dropdown-item" asp-area="" asp-controller="Cadastro" asp-action="Financas">Cadastro</a>
        <a class="dropdown-item" asp-area="" asp-controller="Cadastro" asp-action="ListarFinancas">Lista de Finanças</a>
        <a class="dropdown-item" asp-area="" asp-controller="Cadastro" asp-action="BTC">BTC Preço</a>
    </div>
</li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Cadastro" asp-action="Logout">Sair</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">
                            Usuário Logado: <strong>@Context.Session.GetString("NomeUsuario")</strong>
                        </span>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

   <footer class="border-top footer sticky-footer">
   <div class="container footer-content">
        <span>&copy; 2023 - MoneyTrack</span>
        <img src="https://i.imgur.com/U0amSpp.png" class="footer-image">
   </div>
   </footer>    
    
</body>
</html>