@model MoneyTrack.Models.Financas
@{
    ViewData["Title"] = "Cadastro de Finanças";
}

<head>
    <link rel="stylesheet" href="~/css/financas.css" />
</head>

<form method="POST" asp-action="CadastroFinancas">
    <p>
        <label asp-for="Tipo">Tipo:</label>
        <input asp-for="Tipo">
    </p>
    <p>
        <label asp-for="Valor">Valor:</label>
        <input asp-for="Valor">
    </p>
    <p>
        <label asp-for="Descricao">Descrição:</label>
        <input asp-for="Descricao">
    </p>
    <p>
        <label asp-for="DataTransacao">Data de Transação:</label>
        <input asp-for="DataTransacao">
    </p>
    <p>
        <input type="submit" value="Enviar">
    </p>
</form>

<p>
    @ViewBag.Mensagem
</p>