@model MoneyTrack.Models.Contato
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/login.css"/>
</head>

<body class="login-page">
    <form method="Post" asp-action="Login" class="login-form">
        <p>
            <label asp-for="Login" style="color: #000;">Informe seu Login:</label>
            <input asp-for="Login" />
        </p>
        <p>
            <label asp-for="Senha" style="color: #000;">Informe sua Senha:</label>
            <input asp-for="Senha" type="password" />
        </p>
        <p>
            <input type="submit" value="Entrar" />
        </p>
    </form>

    <p>
        @ViewBag.Mensagem
    </p>
</body>
</html>