@model MoneyTrack.Models.Contato
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/login.css"/>
</head>

<body style="background-color: #f8f9fa; padding: 20px;">

    <form method="Post" asp-action="Login" style=" max-width: 400px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <p>
            <label asp-for="Login" style="display: block; margin-bottom: 8px; font-weight: bold;"> Informe seu Login: </label>
            <input asp-for="Login" style="width: 100%; padding: 10px; margin-bottom: 15px; box-sizing: border-box; border: 1px solid #ccc;
                border-radius: 5px;"/>
        </p>
        <p>
            <label asp-for="Senha" style="display: block; margin-bottom: 8px; font-weight: bold;"> Informe sua Senha: </label>
            <input asp-for="Senha" type="password" style="width: 100%; padding: 10px; margin-bottom: 15px; box-sizing: border-box;border: 1px solid #ccc;
                border-radius: 5px; font-weight: bold;"/>
        </p>
        <p>
            <input type="submit" value="Entrar" style="background-color: #007bff; color: #fff; cursor: pointer; border: none; padding: 10px 15px; border-radius: 5px;"/>
        </p>
    </form>

    <p>
        @ViewBag.Mensagem
    </p>

</body>
</html>