body {    
    color: #fff;
    padding: 50px;
    font-family: 'Arial', sans-serif;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 15px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-primary:hover {
    background-color: #138496;
    border-color: #117a8b;
}