<!DOCTYPE html>
<html>
<head>
    <title>Crypto Price Display</title>    
    <link rel="stylesheet" type="text/css" href="/css/btc.css">
</head>
<body>    

    <nav>
        <ul>    
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>    
        </ul>
    </nav>

    <div class="price-container">
        <h1>Real-Time BTC Price</h1>
        <div class="price-value" id="BTC-price">Loading...</div>
    </div>

    <script>
        async function updateBTCPrice() {
            try {
                const apiKey = 'df057fd0-ea21-4319-8acd-6dd57cd9aa6b'; // Minha CoinCap API key
                const apiUrl = `https://api.coincap.io/v2/assets/bitcoin`;
                const response = await fetch(apiUrl, {
                    headers: {
                        'Authorization': `Bearer ${apiKey}`
                    }
                });
                const data = await response.json();
                const btcPrice = parseFloat(data.data.priceUsd);

                const formattedPrice = btcPrice.toLocaleString('en-US', {
                    style: 'currency',
                    currency: 'USD'
                });

                document.getElementById('BTC-price').textContent = formattedPrice;
            } catch (error) {
                console.error('Error fetching BTC price:', error);
            }
        }

        updateBTCPrice();
        setInterval(updateBTCPrice, 30000); // 30 segundos
    </script>

</body>
</html>